@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #fff1d2;
    color: #000000;
}

body.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.topnav-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Vertically center buttons */
    position: fixed; /* Keep the buttons at the top */
    top: 100px; /* Align to the top of the page */
    width: 100%; /* Full width */
    background-color: #fff1d2; /* Optional: background color for the top bar */
    padding: 10px 0px; /* Add some padding around the container */
    z-index: 1000; /* Ensure it stays above other content */
    gap: 50px; /* Add spacing between buttons */
}

.topnav {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    border: 1px solid #000000;
    background: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.topnav:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}